<h1>Search Spotify</h1>
<!--bind input's model to searchString-->
<input [(ngModel)]="searchString">
<!--bind select's model to searchCategory-->
<select [(ngModel)]="searchCategory">
	<!--loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
	<option [ngValue]="category" *ngFor="let category of searchCategories">
		{{category}}
	</option>
</select>
<!--Call search function when the button is clicked-->
<button class="btn btn-light" (click)="search()">Search</button>
<!--Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<app-carousel *ngIf="searchCategory=='album' || searchCategory=='artist'" [carouselId]="searchCategory" [resources]="resources"></app-carousel>
<!--Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-track-list *ngIf="searchCategory=='track'" [tracks]="resources"></app-track-list>
